<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarsChallengeWPF.SettingsMain" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MarsChallengeWPF.SettingsMain>
            <setting name="vampus_tail" serializeAs="String">
                <value>#FF008000</value>
            </setting>
            <setting name="koshka_tail" serializeAs="String">
                <value>#FF0000FF</value>
            </setting>
            <setting name="privedenie_tail" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
            <setting name="TrapTrigger" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="TrapColor" serializeAs="String">
                <value>#FFA52A2A</value>
            </setting>
        </MarsChallengeWPF.SettingsMain>
    </userSettings>
</configuration>